.hero{
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    border: 1px solid #f5f0f0;
    margin-bottom: 30px;
}

ul{
    list-style-type: none;
  }

/* hero heading===== */
.hero-headline-container h2{
    font-size: 27px;
    margin-top: 0;
}

.nice-headline{
    font-family: Candara, Calibri, 'Trebuchet MS', sans-serif;
    color: #033769;
    font-weight: bold;
    font-size: 27px;
    text-align: center;
}

.hero-headline-container p{
    font-size: inherit;
    font-weight: inherit;
    margin-top: 15px;
    margin-bottom: 15px;
}
.hero-text span{
    background-color: rgb(190, 190, 190);
}

#unit-tabs{
    margin: 0 0 13px 60px;
}
.nav-tabs{
    border-bottom: 1px solid #ddd;
    display: flex;
  
}

.nav-tabs li{
    
    margin-bottom: -1px;
    position: relative;
    display: block;
}
.nav-tabs>li>a{
    margin-right: 2px;
    line-height: 1.42857143;
    /* border: 1px solid transparent; */
    border-radius: 4px 4px 0 0;
    /* background-color: white; */
    position: relative;
    display: block;
    padding: 10px 15px;
}
.non-active:hover{
    background-color: #ececec;
}

.active-tab{
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #a4a4a4;
    border-bottom-color: transparent; 
}


/* measure section===== */

.measure-sec{
    margin-bottom: 20px;
    margin-right: -15px;
    margin-left: -15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}


.form-metric{
    
    width: 323px;
    /* position: relative;
    left: 40px; */
}

table, .questions {
    /* font-family: Helvetica Neue Bold, Arial, sans-serif; */
    /* font-weight: 100; */
  }
  table{
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
  }
table td.col1 {
    font-weight: 700;
    text-align: right;
    font-size: 16px;
    /* border: 1px solid black; */
}
table td {
    padding: 7px 10px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 100;
    padding-left: 6px;
}
label input{
    padding-right: 4px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.text-muted{
    color: #777; 
}

.btn-submit{
    margin-top: 10px;
    background-color: #006dcc;
    background-image: linear-gradient(to bottom, #0088cc, #0044cc);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);

    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    font-weight: 400;
}

/* line styling */
.hero>hr{
    border-top-color: #eee;
    width: 80%;
    margin: 30px auto;
}


.nice-font{
    font-family: Candara, Calibri, 'Trebuchet MS', sans-serif;
    color: #033769;
    font-weight: bold;
}

.chart-content{
    margin-bottom: 1rem;
    margin-top: .5rem;
    display: flex;

}
.chart-left{
    width: 66%;
}
.chart-right{
    width: 33%;
    display: flex;
    align-items: center;
}


.ad-banner-in{
    margin: 0 1rem;
}
.ad-banner-in img{
    margin: 0 auto;
}
@media screen and (min-width:800px){
    .form-metric{
        padding-left: 60px;
    }
}

@media screen and (min-width:500px){
    .form-metric{
        width: 323px;
        position: relative;
        /* left: 40px; */
    }
}